<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    {{{_sections.css}}}
</head>

<body>
    <!--Đầu trang -->
    <div class="nav-header" id="header">
        <nav class="navbar navbar-light">
            {{#if user}}
            <a href="/" rel="stylesheet" class="navbar-brand" id="linkhome">
                <i class="fa fa-gavel" id="iconHomePage" aria-hidden="true"></i>
                Micromart
            </a>
            <a href="/admin/home" rel="stylesheet" class="navbar-brand" id="linkhome">
                <i class="fa fa-gavel" id="iconHomePage" aria-hidden="true"></i>
                Micromart
            </a>
            {{/if}}
            <form class="form-inline">
                <input class="form-control" id="inputSearch" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" id="searchButton" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    &nbsp; Tìm kiếm
                </button>

                {{#if user }}
                <a href="/login" id="btnheader">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Đăng nhập
                </a>

                <a href="/signup" id="btnheader">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Tạo tài khoản
                </a>
                {{else}}
                <a rel="stylesheet" href="/admin/cart">
                    <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                <div class="dropdown ml-2">
                    <a class="btn dropdown-toggle btnheader" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My account
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/admin/myprofile"><i class="fa fa-user" aria-hidden="true"></i>
                            My
                            Profile</a>
                        <a class="dropdown-item" href="/admin/myorders"><i class="fa fa-check" aria-hidden="true"></i>
                            My
                            Orders</a>
                        <a class="dropdown-item" href="/"><i class="fa fa-unlock" aria-hidden="true"></i> Log Out</a>
                    </div>
                </div>
                {{/if}}
            </form>
        </nav>
    </div>


    <div class="container-fluid" id="Menu-Slider">
        <!--Nội dung của từng trang -->
        {{{body}}}
        <!--Foot Page-->
        <div class="container-fluid mt-4 " id="footer">
            <hr>
            <footer class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>© Hoa Rơi Cửa Phật Team-3/4. · <a data-toggle="modal" href="#d1">Information</a> ·</p>
            </footer>
            <div class="modal fade" id="d1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Thông tin các thành viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="f-infor">
                                <div>
                                    <img src="Images/Footer_Infor/dunggay.jpg" width="200" height="150" class="zoom">
                                </div>
                                <div class="ml-4">
                                    <p><b>Bùi Tiến Dũng</b></p>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="f-infor mt-2">
                                <div>
                                    <img src="Images/Footer_Infor/linhdong.jpg" width="200" height="150" class="zoom">
                                </div>
                                <div class="ml-4">
                                    <p><b>Mai Linh Đồng</b></p>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="f-infor mt-2">
                                <div>
                                    <img src="Images/Footer_Infor/quanghai.jpg" width="200" height="150" class="zoom">
                                </div>
                                <div class="ml-4">
                                    <p><b>Lê Quang Hải</b></p>
                                    <p>...</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>

</html>