<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-xl-5">
            <div class="row">
                <img id="MainImg" src="/Images/{{this.mainImgPro.ProID}}/{{this.mainImgPro.imgURL}}"
                    class="${4|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} shadow"
                    style="height: 400px; width:520px" alt="">
            </div>
            <div class="row mt-5 ">
                {{#each this.imgPro}}
                <div class="col-xl-2">
                    <img src="/Images/{{ProID}}/{{imgURL}}"
                        class="img-fluid ${4|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} border border-warning p-2 rounded shadow"
                        style="height: 60px; width:70px" alt="">
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Gởi thời gian kết thúc mới --}}
         <form action="/categories/product/updateTimeEnd/{{this.product.ProID}}" method="post"  name="frmTimeEnd" id="frmTimeEnd">
            <input  name="newTimeEnd"
                    class="form-control d-none">
         </form>

        <div class="col-xl-7 border-left">
            <h3 class="text-uppercase font-weight-bold text-danger">{{this.product.ProName}}</h3>
            <div class="row mt-4">
                <h5 class="col-xl-2 p-1 font-weight-bold ml-2">Duration: </h5>
                <h5 class="col-xl-4 timeExipre bg-light  text-info font-weight-bold  p-1 
                text-center rounded border border-warning" 
                style="width: auto;"></h5>
            </div>
            <div class="row mt-5 ml-2">
                <div class="col-xl-3 col-sm-6 mr-5">
                    <h6 class="text-muted">CURRENT BID: </h6>
                    <h4 class="currentBid"></h4>
                </div>
                <div class="col-xl-4 col-sm-6 ml-5">
                    <h6 class="text-muted">CURRENT WINNER: </h6>
                    <div class="row d-flex ml-1">
                        <i class="fa fa-trophy fa-lg mt-2 mr-2"></i>
                        <h4 class="currentWinner"> </h4>
                    </div>
                </div>
            </div>
            <div class="row mt-5 ml-2 mb-4">
                <div class="col-xl-3 col-sm-6 mr-5">
                    <h6 class="text-muted">Buy Now: </h6>
                    {{#if this.product.PriBuyNow}}
                    <a class="btn btn-primary" id="PriBuyNow" rel="stylesheet" href="#" style="font-size: 19px;">
                        <i class="fa fa-shopping-cart mr-1" ></i></a>
                    {{else}}
                    <h4>No Price</h4>
                    {{/if}}
                </div>
                <div class="col-xl-4 col-sm-6 ml-5">
                    <h6 class="text-muted">Bước Giá: </h6>
                    <div class="row d-flex ml-1">
                        <h4 id="PriceStep"></h4>
                    </div>
                </div>
            </div>
            {{!--Max Bid--}}
            <div class="row mt-5 ml-4">
                {{#if this.BestPricePrevious.MaxBid}}
                <h6 class="text-muted mr-3 mt-1">MAX BID OF YOU: </h6>
                <h4 id="MaxBidLabel"></h4>
                {{/if}}
                <form action="/user/product/autoPlaceBid/{{this.product.ProID}}" method="post" id="frmAutoPlaceBid"  name="frmAutoPlaceBid">
                        <input id="MaxBidLabel" class="d-none" name="MaxBidLabel"/>
                </form>
            </div>
            <div class="row ml-2">
                <div class="col-xl-3 col-sm-6 mt-5">

                    {{!--Nhập tay --}}
                    <form action="/user/product/PlaceBid/{{this.product.ProID}}" method="post"  name="frmPlaceBid" id="frmPlaceBid">
                        <input id="PlaceBid" oninput="return formatNumber(this);" name="PlaceBid"
                            onkeypress="return formatNumber(this);"
                            class="form-control validate" placeholder="0 đ"/>
                    </form>

                    {{!--Hệ thống tự động nhập--}}
                    <input id="autoPlaceBid" name="autoPlaceBid" readonly
                        class="form-control validate" style="display: none;" placeholder="0 đ"/>

                    {{!--Tắt hệ thống tự động --}}
                    <form action="/user/product/offAutoPlaceBid/{{this.product.ProID}}" method="post"  name="frmOffAutoPlaceBid" id="frmOffAutoPlaceBid">
                        <input id="offAutoPlaceBid"  name="offAutoPlaceBid" style="display: none;"
                            class="form-control validate" placeholder="0 đ"/>
                    </form>
                </div>
                <div class="col-xl-4 col-sm-6 mt-5">
                   <a class="btn btn-danger" rel="stylesheet" href="javascript: PlaceBid();" style="font-size: 19px;">
                        <i class="fa fa-gavel mr-1" ></i>Place Bid</a>
                </div>
            </div>
             <div class="row mt-4 ml-4">
                 <a class="btn btn-warning" rel="stylesheet" href="javascript: AutoPlaceBid();" style="font-size: 19px;" id="autoPlacebtn">
                        <i class="fa fa-hand-pointer-o mr-1" ></i>Auto Place Bid</a>
                {{!--Tắt hệ thống tự nhập--}}
                 <a class="btn btn-info" rel="stylesheet" href="javascript: offAutoPlaceBid();" style="font-size: 19px;" id="offAutoPlacebtn">
                        <i class="fa fa-hand-pointer-o mr-1" ></i>Off Auto Place</a>
            </div>
        </div>
    </div>
    <h4 class="font-weight text-info mt-5"> Lịch sử đấu giá</h4>
    <div class="row">
        <div class="col-xl-2 col-md-5 col-sm-12 font-weight-bold p-4">
            User
        </div>
         <div class="col-xl-2 col-md-5 col-sm-12 font-weight-bold p-4">
            Amount
        </div>
        <div class="col-xl-5 col-md-5 col-sm-12 font-weight-bold p-4">
            Time
        </div>
    </div>
    {{#each historyOffer}}
     <div class="row">
        <div class="col-xl-2 col-md-5 col-sm-12  p-4">
            {{f_Username}}
        </div>
         <div class="col-xl-2 col-md-5 col-sm-12  p-4">
            {{PricePlaceBid}}
        </div>
        <div class="col-xl-5 col-md-5 col-sm-12  p-4">
            {{TimePlace}}
        </div>
    </div>
    {{/each}}

    <h4 class="font-weight text-info mt-5"> Mô Tả Sản Phẩm</h4>
    
    <div class="row">
        <div class="col-xl-10 col-md-10 col-sm-12 shadow rounded-top pb-2">
            {{#each detailPro}}
            <div class="row p-4">
                    <i class="fa fa-pencil text-warning"> {{DateWrite}}</i>
                    {{{Description}}}
            </div>
            {{/each}}
            {{#if isAuthenticated}}
            <a class="btn btn-info text-light mb-2 mt-4" href="javascript: DescriptionPro();">Add Description</a>
            <form action="/user/product/addDescription/{{this.product.ProID}}" method="POST"
                name="frmDescription" id="frmDescription" style="display: none;">
                <textarea class="form-control" id="Description" name="Description"></textarea>
                <button type="submit" class="btn btn-primary text-align d-flex mt-2">
                    <h4>Submit Description</h4>
                    <i class="fa fa-hand-pointer-o ml-2 mt-2"></i>
                </button>
            </form>
            {{/if}}
        </div>
    </div>
    <hr>
     <h3>Sản phẩm cùng chuyên mục</h3>
    <div class="row">
        <div class="card-deck mt-5">
            <div class="col-4">
            {{#each relaveProduct}}
                <div class="card border-0 zoom">
                <img src="/Images/{{ProID}}/{{imgURL}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><h5 class="text-info" id='{{ProID}}'>
                        </h5></p>
                    <a  class="btn btn-danger mr-5 w-100 text-light" href="/categories/product/{{ProID}}">Đấu giá ngay</a>
                </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>

{{#section 'css'}}
<style>
</style>
{{/section}}
{{#section 'js'}}

<script>
    
    //Excute khi load trang
    $(document).ready(function () {
        //=========================================================================================
        //Slider Image*******************/
        var clickImg = function () {
            document.getElementById("MainImg").src = this.getAttribute('src');
        }
        for (var i = 1, l = {{ countImg }}; i < l; i++) {
        $('img')[i].addEventListener("click", clickImg);
        }
        var i = 2;
        setInterval(() => {
            $('img')[0].src = $('img')[i].src;
            $("#MainImg").slideDown("slow");
            i++;
             if (i == {{ countImg }})
            {
                i = 1;
            }
        }, 1500);


        //=========================================================================================
        //Expries Time*****************************/
        //Lấy thời điểm kết thúc
        var timeEnd="{{this.product.TimeEnd}}";
       // console.log(timeEnd);
        setTimeEnd(timeEnd,'.timeExipre');


      

        //======================Formart Number Load to label html===================================
        $('#PriBuyNow').html(numeral({{this.product.PriBuyNow}}).format('0,0') + ' đ');
        $('#PriceStep').html(numeral({{this.product.PriceStep}}).format('0,0') + ' đ');
        {{#if this.BestPricePrevious}}
            $('.currentBid').html(numeral({{this.BestPricePrevious.PricePlaceBid}}).format('0,0')+ ' đ');
            $('.currentWinner').html("{{this.BestPricePrevious.UsernameBidder}}");
        {{else}}
            $('.currentBid').html(numeral({{this.product.PriceBegin}}).format('0,0')+ ' đ');
            $('.currentWinner').html('No One')
        {{/if}}


        //==========================================================================================
        /*Thông báo Nếu người đăng nhập hiện tại đang là người có giá cao nhất*/
       
        

        //===========================================================================================
        /*Nếu là đáu giá tự động thì gửi request liên tục tới trang */
        //Kiểm tra time đã hết chưa
        //ẩn button offautoplacebtn
        $('#offAutoPlacebtn').hide();
        {{#if this.historyOfferBidder}}
        {{#if this.historyOfferBidder.MaxBid}}
            var timeEnd="{{this.product.TimeEnd}}";
            var timeMoment=moment().format("YYYY-MM-DD HH:mm:ss");
            console.log(timeMoment);
            // Xem thử đã hết hạn
            var distance=moment(timeEnd,"YYYY-MM-DD HH:mm:ss").diff(moment(timeMoment,"YYYY-MM-DD HH:mm:ss"),'minutes');

            if(distance >0)
            {
                 var maxBid= numeral({{this.historyOfferBidder.MaxBid}}).format('0,0')+ ' đ';
                console.log(maxBid);
                $('#MaxBidLabel').html(maxBid);

                //Đổi thanh nhập tay thành thanh tự động 
                $('#autoPlaceBid').val(maxBid);
                $('#autoPlaceBid').show();
                $('#PlaceBid').hide();

                //Thay đổi button
                $('#autoPlacebtn').hide();
                $('#offAutoPlacebtn').show();

                //Cập nhật giá trị vào thanh input MaxBid
                frmAutoPlaceBid.MaxBidLabel.value={{this.historyOfferBidder.MaxBid}};
                MaxBidInterval= setInterval(sendMaxBid,5000);
            }

        {{/if}}
        {{/if}}

        //Sản phẩm liên quan
        {{#each relaveProduct}}
          setTimeEnd(timeEnd,'#{{ProID}}');
        {{/each}}
    });

    //Set time End
    function setTimeEnd(timeEnd,el)
    {
        console.log(timeEnd);
        console.log(el);
        var countTimeExpire = setInterval(() => {
            var timer= moment(timeEnd, "YYYY-MM-DD HH:mm:ss").fromNow();
            $(el).html(timer + " ...");
            console.log(timer);
        }, 1000);
    }
   
     //Formart Number ========================================================================
    function formatNumber(el) {
        var number = numeral(el.value);
        
        var strFormart = number.format('0,0');

        el.value = strFormart + ' đ';
        return el.value;
    };



    //Gia hạn thời gian ========================================================================
    function ExpriesTimes(){
        var timeEnd="{{this.product.TimeEnd}}";
        var timeMoment=moment().format("YYYY-MM-DD HH:mm:ss");
            // Tự động gia hạn thêm 10'
            var distance=moment(timeEnd,"YYYY-MM-DD HH:mm:ss").diff(moment(timeMoment,"YYYY-MM-DD HH:mm:ss"),'minutes');
            console.log(distance);
            //hết thời gian
            if(distance < 0 )
            {
               return false;
            }
            
            if(distance <= 5){
                //Nếu có gia hạn
                if({{this.product.AutoReset}} == 1)
                {
                    var addtime=moment("{{this.product.TimeEnd}}", "YYYY-MM-DD HH:mm:ss").add(10,'minutes');
                    timeEnd=addtime.format('YYYY-MM-DD HH:mm:ss');
                    console.log(timeEnd);
                    //Thêm giá trị của input form
                    frmTimeEnd.newTimeEnd.value = timeEnd;
                    //Cập nhật lại timeEnd trong CSDL
                    $('#frmTimeEnd').submit();
                }
            }
            return true;
    }

    //Đấu Gía THông thường =========================================================================
    function PlaceBid(){
        //Kiểm tra phiên đấu giá
        var isExpries= ExpriesTimes();
        if(isExpries === false)
        {
            return (
                Swal.fire({
                    icon: 'error',
                    title: 'Sorry',
                    text: 'Phiên đấu giá đã kết thúc',
                }));
        }
        console.log("new Price");

        //Lấy giá đặt mới của Bidder
        var newPlaceBid = frmPlaceBid.PlaceBid.value;
        newPlaceBid = numeral(newPlaceBid).value();
        
        //Lấy giá bắt đầu và bước giá
        var PriceBegin= {{this.product.PriceBegin}};
        var PriceStep = {{this.product.PriceStep}};

        console.log(newPlaceBid);
        console.log(PriceBegin);
        console.log(PriceStep);
        //So sánh với giá khởi điểm
        if(newPlaceBid < (PriceBegin + PriceStep))
        {
            return (
            Swal.fire({
                icon: 'error',
                title: 'Sorry',
                text: 'Giá đặt phải cao hơn giá ban đầu + bước giá',
            }));
        }

        //So sánh với giá người đang giữ giá cao nhất 
        //Trong trường hợp người này commit sau một thời gian vào xem trang 
        //Xử lý một phần để server đỡ phải xử lý 
        {{#if this.BestPricePrevious}}
            var BestPrice = {{this.BestPricePrevious.PricePlaceBid}};
            if(newPlaceBid <= (BestPrice + PriceStep))
            {
                 return (
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: 'Unlucky!',
                    text: 'Giá của bạn chưa phải là giá cao nhất',
                }));
            }
        {{/if}}
        $('#frmPlaceBid').submit();
    }
    

    //Đấu Giá tự đông ==========================================================================
    function AutoPlaceBid(){
        var isExpries= ExpriesTimes();
        if(isExpries === false)
        {
            return (
                Swal.fire({
                    icon: 'error',
                    title: 'Sorry',
                    text: 'Phiên đấu giá đã kết thúc',
            }));
        }
        var MaxBidInterval;
        //Người dùng nhập giá tối đa mình có thể trả
        Swal.fire({
            title: 'Nhập giá Max bạn có thể trả',
            html:
                `<input id="MaxBid" class="mr-2" oninput="return formatNumber(this);" name="MaxBid" >`,
            confirmButtonText: 'Start',
            showLoaderOnConfirm: true
        }).then((result) => {
               //Đổi thanh nhập tay thành thanh tự động 
               $('#autoPlaceBid').val(MaxBid.value);
               $('#autoPlaceBid').show();
               $('#PlaceBid').hide();

                //Thay đổi button
                $('#autoPlacebtn').hide();
                $('#offAutoPlacebtn').show();

               //Cập nhật giá trị vào MaxBidLabel
               $('#MaxBidLabel').html(MaxBid.value) ;
                //Cập nhật giá trị vào thanh input MaxBid
               frmAutoPlaceBid.MaxBidLabel.value=MaxBid.value;
               console.log(frmAutoPlaceBid.MaxBidLabel.value);

               //Gửi request lên server
               $('#frmAutoPlaceBid').submit();
               return  true;
        })
    }

    //Tắt đấu giá tự động ==========================================================================
    function offAutoPlaceBid(){
        var maxValue=null;
        $('#autoPlacebtn').show();
        $('#offAutoPlacebtn').hide();
        $('#autoPlaceBid').val(maxValue);
        $('#frmOffAutoPlaceBid').submit();
    }
    

    //Sen Request to Server =========================================================================
    function sendMaxBid(){
        $('#frmAutoPlaceBid').submit();
    }

    //Thêm mô tả sản phẩm
    function DescriptionPro(){
        console.log({{role}});
        {{#if isAuthenticated}}
        if({{authUser.f_ID}} !== {{this.product.SellerID}})
        {
            return (
                Swal.fire({
                    icon: 'error',
                    title: 'Sorry',
                    text: 'Bạn không được dùng chức năng này',
            }));
        }
        {{/if}}
        $('#frmDescription').show();
        tinymce.init({
        selector: '#Description',
        height: 400,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
            'forecolor backcolor',
            'table link image media',
            ],
        });
    }
</script>
{{/section}}