<div class="mytitle">
    <h2>Sản phẩm {{namelist}}</h2>
    <hr>
</div>
{{#if this.empty}}
<div class="card-body">
    <p class="card-text">
        Chưa có dữ liệu.
    </p>
</div>
{{else}}
<div class="mygroupcard row">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <div class="row">
                {{#each this.products}}
                <div class="col-sm-4 mb-3">
                    <div class="card h-100" onclick="detailItem()">
                        <div class="card-body">
                            <img src="/Images/{{ProID}}/{{imgURL}}" class="card-img-top" alt="...">
                            <h5 class="card-title mb-4">{{ProName}}</h5>
                            <p class="card-text text-center"><i class="fa fa-gavel" aria-hidden="true"></i>
                                {{format PriceBegin}} đ</p>
                            <p class="card-text"></p>
                            <p class="card-text">
                                <h5 class="text-info" id='{{ProID}}'>
                                </h5>
                            </p>
                        </div>
                        <div class="card-footer text-muted text-center">
                            <a class="btn btn-danger mr-5 w-100 text-light" href="/categories/product/{{ProID}}">Đấu
                                giá
                                ngay</a>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?page={{prev_value}}">
                        <i class="fa fa-backward" aria-hidden="true"></i> Previous
                    </a>
                </li>

                {{#each this.page_numbers}}

                {{#if isCurrentPage}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">{{value}}<span class="sr-only">(current)</span></a>
                </li>
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                {{/if}}

                {{/each}}

                <li class="page-item">
                    <a class="page-link" href="?page={{next_value}}">
                        <i class="fa fa-forward" aria-hidden="true"></i> Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{/if}}


{{#section 'js'}}
<script>
    $(document).ready(function () {
        //Sản phẩm liên quan
        {{#each products}}
        setTimeEnd("{{TimeEnd}}", '#{{ProID}}');
        {{/each}}
    })
    //Set time End
    function setTimeEnd(timeEnd, el) {
        console.log(timeEnd);
        console.log(el);
        var countTimeExpire = setInterval(() => {
            var timer = moment(timeEnd, "YYYY-MM-DD HH:mm:ss").fromNow();
            $(el).html(timer + " ...");
            console.log(timer);
        }, 1000);
    }
</script>
{{/section}}