<div class="card">
    <div class="card-header">
        <h2 class="mt-4 mb-5">
            <b>Personal</b> information
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <form>
                    <div class="form-group row">
                        <label for="txtUsername" class="col-sm-2 col-form-label">User Name</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.profile.f_Username}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.profile.f_Name}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtDOB" class="col-sm-2 col-form-label">Day of Birth</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.profile.f_DOB}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.profile.f_Email}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtSex" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.profile.f_GioiTinh}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtDiaChi" class="col-sm-2 col-form-label">Dia Chi</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.profile.f_Diachi}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtPoint" class="col-sm-2 col-form-label">Point evaluate</label>
                        <div class="col-sm-8">
                            <span class="form-control">{{this.evaluate.Point}}/10</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtComment" class="col-sm-2 col-form-label">Comment Evaluate</label>
                        <div class="col-sm-8">
                            <textarea name="Comment" id="txtComment" cols="75" rows="10"
                                readonly>{{this.evaluate.Comment}}</textarea>
                        </div>
                    </div>
                    <a class="btn btn-outline-primary" href="/user/myprofile/edit/{{this.profile.f_ID}}" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Edit
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>