{{#section 'css'}}
<style>
    /* css của MyProfile */
    .tablinkMyProduct {
        background-color: #4b86b4 ;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 20px;
        font-weight: bold;
        width: 33.333333%;
        border: 1px solid #b3cde0;
        border-bottom: none;
        color:#2a4d69 ;
    }

    .tablinkMyProduct:hover {
        background-color: #005b96;
        
    }

    /* Style the tab content */
    .tabcontentMyProducts {
        color: black;
        display: none;
        padding: 50px;
        border: 1px solid #ccc;
        border-top: none;
        height: 800px;
    }

    .changeCountry {
        text-align: center;
    }

    .view {
        display: none !important;
    }

</style>
{{/section}}
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <button class="tablinkMyProduct btn" onclick="openCity('Selling', this, '#b3cde0')" id="defaultOpen">
            Product Selling
        </button>
        <button class="tablinkMyProduct btn" onclick="openCity('Sold', this, '#b3cde0')">Product Sold</button>
        <button class="tablinkMyProduct btn" onclick="openCity('NoSold', this, '#b3cde0')">Product No Sold</button>
        <div id="Selling" class="tabcontentMyProducts mt-5">
            <div class="card shadow mb-2 w-100 mr-auto">
                {{#if this.emptySelling}}
                <div class="card-body">
                    <p class="card-text">
                        Không có dữ liệu.
                    </p>
                </div>
                {{else}}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center w-25">Product Name</th>
                            <th scope="col" class="text-center">Time Begin</th>
                            <th scope="col" class="text-center">Time End</th>
                            <th scope="col" class="text-right">
                                <a class="btn btn-outline-success" href="/user//add_product" role="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add Category
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.ProductsSelling}}
                        <tr>
                            <th scope="row" class="text-center w-25">{{ProName}}</th>
                            <td>{{TimeBegin}}</td>
                            <td>{{TimeEnd}}</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-primary" href="/admin/categories/edit/{{CatID}}" role="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a name="" id="" class="btn btn-sm btn-danger" href="#" role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>

        <div id="Sold" class="tabcontentMyProducts mt-5">
            <div class="card shadow mb-2 w-100 mr-auto">
                {{#if this.emptySold}}
                <div class="card-body">
                    <p class="card-text">
                        Không có dữ liệu.
                    </p>
                </div>
                {{else}}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center w-25">Product Name</th>
                            <th scope="col">Time Begin</th>
                            <th scope="col">Time End</th>
                            <th scope="col" class="text-right">
                                <a class="btn btn-outline-success" href="/user//add_product" role="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add Category
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.ProductsSold}}
                        <tr>
                            <th scope="row" class="text-center w-25">{{ProName}}</th>
                            <td>{{TimeBegin}}</td>
                            <td>{{TimeEnd}}</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-primary" href="/admin/categories/edit/{{CatID}}" role="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a name="" id="" class="btn btn-sm btn-danger" href="#" role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>

        <div id="NoSold" class="tabcontentMyProducts mt-5">
            <div class="card shadow mb-2 w-100 mr-auto">
                {{#if this.emptyNoSold}}
                <div class="card-body">
                    <p class="card-text">
                        Không có dữ liệu.
                    </p>
                </div>
                {{else}}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center w-25">Product Name</th>
                            <th scope="col">Time Begin</th>
                            <th scope="col">Time End</th>
                            <th scope="col" class="text-right">
                                <a class="btn btn-outline-success" href="/user//add_product" role="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add Category
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.ProductsNoSold}}
                        <tr>
                            <th scope="row" class="text-center w-25">{{ProName}}</th>
                            <td>{{TimeBegin}}</td>
                            <td>{{TimeEnd}}</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-primary" href="/admin/categories/edit/{{CatID}}" role="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a name="" id="" class="btn btn-sm btn-danger" href="#" role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>

{{#section 'js'}}
<script>
    // My profile
    function openCity(cityName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontentMyProducts");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinkMyProduct");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(cityName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
{{/section}}